@import "../../assets/scss/theme.scss";

// .apexcharts-canvas {
//   text {
//     fill: $text-muted !important;
//   }
// }

.reports-card {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
  border-radius: 3px;
  border: none !important;
  --bs-card-border-width: 0 !important;
}

.card-body .text-muted h4 {
  margin-bottom: 6px !important;
}

.dashboard_table {
  margin-bottom: 150px;
}
.apexcharts-legend-series {
  margin: 0 20px !important;
}