body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body::-webkit-scrollbar {
  background-color: hsla(0, 0%, 67%, 0.56) !important;
  height: 4px !important;
  width: 3px !important;
}
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.289) !important;
  border-radius: 0;
}

